/* CSS VARIABLES */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0px 5px 10px rgba(104, 104, 104, 0.9);
  --shadow-btn: 0px 1px 1px rgba(104, 104, 104, 0.9);
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}
body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  text-align: center;
  transition: 0.5s;
}
.btn:hover {
  background: var(--primary);
  box-shadow: var(--shadow-btn);
  color: var(--dark);
  font-weight: bold;
}
img {
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}
/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
.main-nav a {
  background: var(--primary);
  color: #222;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  transition: 0.5s;
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}
/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  max-width: 100%;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.showcase h1 {
  color: var(--light);
  font-size: 4rem;
  margin-bottom: 0;
}
.showcase p {
  color: var(--light);
  font-size: 1.3rem;
  margin-top: 0;
}

.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}
.top-box {
  display: grid;
  grid-template-columns: center;
  align-items: center;
  background: var(--primary);
  padding: 0.5rem 0.8rem;
  box-shadow: var(--shadow);
}
.top-box h4 {
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}
.price {
  font-size: 2.3rem;
  text-align: center;
}
/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background: var(--primary);
  padding: 1.5rem 2rem;
  color: var(--dark);
  text-align: center;
  box-shadow: var(--shadow);
}
/* info */
.info {
  display: grid;
  grid-gap: 30px;
  padding: 3rem;
  grid-template-columns: repeat(2, 1fr);
  background: var(--primary);
  box-shadow: var(--shadow);
}
/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img {
  width: 100%;
  box-shadow: var(--shadow-btn);
}
/* Footer */
footer {
  margin-top: 2rem;
  color: var(--light);
  background: var(--dark);
  text-align: center;
  padding: 1rem;
  box-shadow: var(--shadow);
}
footer p {
  font-size: 1.1rem;
}
/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2.5rem;
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }
}
